<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/streamparty.js"></script>
  </head>
  <body>
    <h1>Welcome to StreamParty!</h1>
    <div>
      <video id="thevideo" height="" width="100%" preload="none" controls>
        <source src="/static/vid/bunny.mp4" type="video/mp4" media="">
      </video>
    </div>
  </body>
</html>
